---
import { storyblokEditable } from '@storyblok/astro';
import RichTextRenderer from '@storyblok/astro/RichTextRenderer.astro';

const { blok } = Astro.props;
const { content } = blok;

---

<div {...storyblokEditable(blok)} class='main-text'>
  <RichTextRenderer richTextData={content} />
</div>
