---
import { useStoryblokApi, storyblokEditable } from '@storyblok/astro';
import ImageTile from '../components/ImageTile.astro';

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get('cdn/stories', {
  version: import.meta.env.DEV ? 'draft' : 'published',
  content_type: 'imagePost',
});

const { stories: posts } = data;
const { blok } = Astro.props;

// TODO add media queries to make grid responsive
// TODO use graphQL API to fetch posts, using pagination ???

---

<div class='grid-container' {...storyblokEditable(blok)}>
  {!!posts.length && posts.map((post) => (
    <ImageTile blok={post.content} slug={`/posts/${post.slug}`} />
  ))}
</div>

<style>
  .grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
</style>
