---
const date = new Date();
const year = date.getFullYear();
---

<footer>
  <p>&#169; {year} Virginia Vidonis Art</p>
</footer>

<style>
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px 30px;
    background-color: aquamarine;
  }
</style>
