---
import Navbar from '../storyblok/Navbar.astro';
import Footer from '../components/Footer.astro';
import './baseLayout.css';
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>Virginia Vidonis Art</title>
  </head>

  <body>
    <Navbar />
    <div class='container'>
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style>
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
</style>
